.button{
    padding: 12px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    background-color: #87c73c;
    font-size: 16px;
}