.footer {
  color: white;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    padding: 20px 40px;
    background-color: #68b35c;
    font-size: 18px;
    font-weight: 600;

    text-align: center;
  }

  .copyrigth {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    background-color: #5a9c50;
  }
}
